<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>My First Github action Deployment</h1>
    <p>Welcome to Azure Team <%= title %></p>
  </body>
</html>
